* {
    padding:0;
    margin:0;
    box-sizing: border-box;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

body{
    background: hsl(0, 0%, 81%);
}

.conteiner-body{
    background: hsl(0, 0%, 81%);
    min-height: 100vh;
    display: grid;
}


.conteiner{
    width: 1200px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
    
    gap: 30px; 
    
}

.conteudo{
    
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: hsl(217, 19%, 35%);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    padding: 30px;
    
}

h2{
    font-size: 13px;
    font-weight: 300;
    margin: 1% 0% 0% 0%;
}

.branco{
    color: white;
}

h1{
    font-size: 16px;
    margin-bottom: 10px;
}

.texto{
    font-weight: 300;
    color: rgb(165, 165, 165);
    line-height: 1.2;
}

.texto-2{
    font-weight: 200;
    color: rgb(165, 165, 165);
    font-size: 11px;
   
}


.info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}


.daniel{
    background: hsl(263, 55%, 52%);
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 87% 01%;
    grid-column: 1/3;
    
    box-sizing: border-box;
    border-radius: 10px;
}


.jonatha{
    background: hsl(217, 19%, 35%);
    grid-column: 3/4;
    
    box-sizing: border-box;
    border-radius: 10px;
}

.jeanet{
    background: hsl(0, 0%, 100%);
    grid-row: 2/3;
    grid-column: 1/2;
    
    box-sizing: border-box;
    border-radius: 10px;
}

.patrick{
    background: hsl(219, 29%, 14%);
    grid-row: 2/3;
  grid-column: 2/4;
    box-sizing: border-box;
    border-radius: 10px;
}

.kira{
    background: hsl(0, 0%, 100%);
    grid-row: -1/1;
    grid-column: 4/5;
    
    box-sizing: border-box;
    border-radius: 10px;
}

.info img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #fff;
}

@media screen and (max-width: 1024px) {
    body{
        padding: 20px;
      }
    
    .conteiner  {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 95%;
        grid-gap: 15px;
      }
      .daniel{
        grid-column: 1/3;
      }
      .jonatha{
        grid-column: 3/4;
      }

      .jeanet{
        grid-column: 1/1;
      }

      .kira{
        grid-column: 1/4;
        grid-row: 3/4;
      }
}
    


@media screen and (max-width:768px) {
    .conteiner{
        margin-top: 20px;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
      }
      .conteudo{
        grid-column: unset !important;
        grid-row: unset !important;
      }
    }
